body, h1, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

#container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-task {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#total-tasks {
  display: block;
  margin-bottom: 10px;
}

#list {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 5px;
}

li:hover {
  background-color: #e6e6e6;
}

.custom-checkbox {
  margin-right: 10px;
}

.delete {
  width: 16px;
  cursor: pointer;
}
